/* Box Model Hack */
* {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
  font-family: 'Bebas Neue', cursive;
  font-family: 'Esteban', serif;
  font-family: 'Fredoka', sans-serif;
  margin: 20px;
  background-color: black
}
img {
  border-radius: 20px;
}
h2 {
  padding: 20px 0 10px 0;
}
ul {
  list-style: none;
  padding-left: 0;

}
a {
  color: black;
  font-size: 1.5rem;
  text-decoration: none;
  vertical-align: middle;
}
td {
  border-right: solid 3px black;
  border-top: solid 3px black;
}
th {
  border-right: solid 3px black;
}
th, td {
  padding: 15px;
}
input {
  padding: 5px;
}

/******************************************
/* LAYOUT
/*******************************************/
header {

}

.container {
  margin: 0 auto;
  width: 900px;
  background-color: beige;
  padding: 20px;
  border-radius: 25px;
}

.title-bio-block {
  display: flex;
  vertical-align: top;
  justify-content: space-between;
  width: 355px;
}
main p {
  justify-content: right;
  padding-left: 30px;
}
.profesh-links {
  width: inherit;
  height: 100px;
  display: flex;
}
a {
  margin: 0px 5px;
}
.work {

}
.form {
  display: block;
}
form div {

}
.form-name, .form-email, .form-message {
  display: block;
  padding: 8px;
}
#message-label {
  display: block;
  padding-bottom: 8px;
}
#send-me-a-message > input {
  display: block;
}
footer {
  color: rgb(137, 125, 125);
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
